
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem white solid;
    border-radius: 100%;
    height: 2.3rem;
    width: 2.3rem;
    margin: 0 .3rem;
}
.copyright
{
    background-color: #1A252F;
}